@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("styles/fonts/Roboto-Light.ttf") format('truetype'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("styles/fonts/Roboto-Regular.ttf") format('truetype'),
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("styles/fonts/Roboto-Medium.ttf") format('truetype'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("styles/fonts/Roboto-Bold.ttf") format('truetype'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("styles/fonts/Roboto-Black.ttf") format('truetype'),
}